# Core libraries
streamlit
pandas
numpy
scipy
plotly
scikit-learn
opencv-python-headless==4.11.0.86
pillow
openpyxl

# WebRTC support
streamlit-webrtc

# Deep learning
tensorflow==2.11.1
deepface

# Google Generative AI
google-generativeai
